*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
#root {
    width: 100%;
    height: auto;
}

#main {
    margin: 5% 25%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 16px 32px;
}

#link{
    color: #2082cc;
}

#title {
    font-weight: 500;
}
#myPara{
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: 15px;
}
#para{
    font-size: 15px;  
}